spring:
  application:
    name: config-service
  
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/config-repo
          default-label: main
        native:
          search-locations: classpath:/config

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.teletrack360: DEBUG
